#hero-item {
    --background: url(../assets/bubble1short.svg) no-repeat center/cover;
    --min-height: 10rem;
}
/* 
.bubble1 {
    --background: url(../assets/bubble1.svg) no-repeat center/cover;
}

ion-content *{
    --background: transparent;
}

ion-list {
    background: transparent;
} */