<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" swipeGesture >
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="bubble1">
        <ion-item id="hero-item" lines="none">
            <ion-avatar slot="start">
                <img src="../assets/icon/avatar-yoda.png">
            </ion-avatar>
            <ion-label>Yoda</ion-label>
          </ion-item>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>        
      </ion-content>
      <ion-footer no-border>
        <ion-toolbar>
          <ion-button shape="round">Sair</ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
