<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Grade Horária
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--TODO: deixar essa bagaça bunita-->
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of schedule">
      <p> {{item.name}} - {{item.room}} - {{weekdayToString(item.day)}} - {{slotToString(item.slot)}} </p>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
