<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Grade Horária
    </ion-title>    
    <ion-buttons slot="end">
        <ion-button [routerLink]="['/settings']">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <ion-grid fixed>
      <ion-row class='ion-align-items-center ion-justify-content-center ion-text-center'>
        <ion-col size="2">Seg</ion-col>
        <ion-col size="2">Ter</ion-col>
        <ion-col size="2">Qua</ion-col>
        <ion-col size="2">Qui</ion-col>
        <ion-col size="2">Sex</ion-col>
        <ion-col size="2">Sab</ion-col>
      </ion-row>
      <ion-row *ngFor="let slot of slots | enumToArray" class='ion-text-center'>
        <ion-col class="schedule" *ngFor="let day of weekdays| enumToArray" size="2">
            <ion-item lines="none" class="schedule-item ion-align-items-center" *ngIf="scheduleContains(day,slot); else noAppointment; let appointment" color="primary">
              <ion-label position="inline" class="ion-text-center schedule-label">
                <p>{{appointment.name}}</p>
                <!-- <p>{{appointment.class}}</p> -->
              </ion-label>
            </ion-item>
            <ng-template #noAppointment>
                <ion-item lines="none" class="schedule-item" color="light"></ion-item>
            </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>