<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Disciplinas Matriculadas</ion-title>
    <ion-buttons slot="end">
        <ion-button [routerLink]="['/settings']">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color='primary' *ngFor='let subject of subjects'>
        <ion-card-header>
          <ion-card-title>{{ subject.name }}</ion-card-title>
          <ion-card-subtitle>{{ subject.code }}-{{ subject.class }}</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item color='primary' lines='none'>
            <ion-badge color='tertiary' class='room-badge' slot='end'>{{ subject.room }}</ion-badge>
          </ion-item>
          
        <ion-label>
          <p *ngFor='let time of subject.times'>{{ time.day }}: {{ time.start }} - {{ time.end }}</p>
        </ion-label>
        </ion-card-content>
      </ion-card>
</ion-content>
